/*custom stylesheet*/

#one {
  background-color: red;
  color: #FFFFFF;
  margin-bottom: 40px;
}

#two {
  background-color: purple;
  color: #FFFFFF;
  margin-top: 20px;
}

p {
  color: red;
  font-size: 33px;
}